

<table>
 
    <tr  style="background-color: rgb(42, 196, 163);"><button (click)="filmFetch(more.films)" routerLink="/films">Films</button> </tr>
    <tr  style="background-color: rgb(42, 196, 163);"><button (click)="vehicleFetch(more.vehicles)" routerLink="/vehicles">vehicles</button></tr>
    <tr  style="background-color: rgb(42, 196, 163);"><button (click)="starshipFetch(more.starships)" routerLink="/starships">starships</button></tr>
  
</table>
<button (click)="myfun(more.films)">click</button>